certifi==2020.12.5
click==7.1.2
fastapi==0.63.0
gevent==21.1.2
geventhttpclient==1.4.4
greenlet==1.0.0
grpcio==1.36.1
h11==0.12.0
httptools==0.1.1
numpy==1.20.1
protobuf==3.15.6
pydantic==1.8.1
python-dotenv==0.15.0
python-multipart==0.0.5
python-rapidjson==1.0
PyYAML==5.4.1
six==1.15.0
starlette==0.13.6
tritonclient[all]
typing-extensions==3.7.4.3
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==8.1
zope.event==4.5.0
zope.interface==5.2.0
Jinja2==2.11.3
sqlalchemy==1.4.2
Pillow
aiofiles==0.6.0
opencv-python==4.5.1.48