<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sirius ML Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap-theme.min.css') }}">
</head>
<body>
<div class="container theme-showcase" role="main">
    <h2>Sirius ML Face Recognition</h2>

    <i>{{ message }}</i>
    <br><br>
    <p><b>Загрузить в базу нового пользователя</b></p>
    <form action="/users/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputName">Введите имя:</label>
            <input type="text" name="name" class="form-control" id="InputName">
        </div>
        <div class="form-group">
            <label for="InputFile">Выбрать фотографию:</label>
            <input type="file" name="file" id="InputFile">
        </div>
        <button type="submit" class="btn btn-default">Загрузить</button>
    </form>
    <br><br>

    <p><b>Проверить пользователя в базе</b></p>
    <form action="/inference_photo/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputFile2">Выбрать фотографию:</label>
            <input type="file" name="file" id="InputFile2">
        </div>
        <button type="submit" class="btn btn-default">Загрузить</button>
    </form>
    <br><br>

    <p><a href="/users/">Список пользователей</a></p>
</div>
</body>
</html>